<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/static/script.js"></script>
    <link rel="stylesheet" href="/static/Style.css">
</head>

<body>
    <div class="ex1">
        <h1>Calculador media ponderada</h1>

        <input type="number" id="n1">
        <input type="number" id="n2">
        <input type="number" id="n3">

        <button onclick="CalcularMedia()">Calcular Média Ponderada</button>

        <h2 id="resultado_geral">Média Geral: </h2>

    </div>
    <div class="ex2">
        <h1>Planejamento de Projeção financeira no investimentos em maquinário.</h1>

        <input type="number" id="p">
        <input type="number" id="i">
        <input type="number" id="n">

        <button onclick="CalcularMontante()">Calcular Montante:</button>
        <h2 id="resultado_final">Montante = </h2>

    </div>
    <div>
        <h1>Controlador CLP</h1>

        <input type="number" id="intensidade">

        <button onclick="ControladorCLP()">Conversão</button>
        <h2 id="resultado">Binário:</h2>
    </div>
    <div>
        <h1>Conversão de temperaturas</h1>
        <label for="number">Celsius</label>
        <input type="number" id="celsius" >

        <label for="number">Fahreinheit</label>
        <input type="number" id="far">

        <label for="number">Kelvin</label>
        <input type="number" id="kelvin">

        <button onclick="Conversao(1)">Celisus > Fahreinheit</button>
        <button onclick="Conversao(2)">Fahreinheit > Celsius</button>
        <button onclick="Conversao(3)">Celsius > Kelvin</button>
        <button onclick="Conversao(4)">Kelvin > Celsius</button>

        <h2 id="resultado1"></h2>
    </div>

</body>

</html>